# Q.1- Write a python script to create a databse of students named Students.

In [10]:
import pymongo
client=pymongo.MongoClient()
database=client['Students']
collection=database['student'] #Creating Table Of Name student

# Q.2- Take students name and marks(between 0-100) as input from user 10 times using loops. 

                                            AND

#Q.3- Add these values in two columns named "Name" and "Marks" with the appropriate data type.

In [12]:
i=0
while(i<10):
    try:
        name = input("Enter the name: ")     # Taking name and marks input
        marks = int(input('Enter your Marks: '))
        if(marks<0 or marks >100):                #Checking the marks entered should be less then 100 and greater then 0 
            raise ValueError('Invalid entry of marks')
            i=i-1
        else:
            collection.insert_one({'Name':name,'Marks':marks})  #Inserting names in the tables
            i=i+1
    except  ValueError as msg:
        print(msg)

Enter the name: kj
Enter your Marks: 49
Enter the name: m
Enter your Marks: 90
Enter the name: hg
Enter your Marks: 67
Enter the name: jh
Enter your Marks: 200
Invalid entry of marks
Enter the name: hg
Enter your Marks: 78
Enter the name: jj
Enter your Marks: 100
Enter the name: uy
Enter your Marks: 55
Enter the name: gf
Enter your Marks: 87
Enter the name: jh
Enter your Marks: 97
Enter the name: sd
Enter your Marks: 88
Enter the name: jn
Enter your Marks: 88

# Q.4- Print the names of all the students who scored more than 80 marks.

In [15]:
data=collection.find({"Marks":{"$gt":80}}) # $gt -> gretaer then
for d in data:
    print(d)

{'_id': ObjectId('5b928f06fac13d32702a6dc9'), 'Name': 'm', 'Marks': 90}
{'_id': ObjectId('5b928f19fac13d32702a6dcc'), 'Name': 'jj', 'Marks': 100}
{'_id': ObjectId('5b928f26fac13d32702a6dce'), 'Name': 'gf', 'Marks': 87}
{'_id': ObjectId('5b928f2efac13d32702a6dcf'), 'Name': 'jh', 'Marks': 97}
{'_id': ObjectId('5b928f45fac13d32702a6dd0'), 'Name': 'sd', 'Marks': 88}
{'_id': ObjectId('5b928f54fac13d32702a6dd1'), 'Name': 'jn', 'Marks': 88}